@font-face {
    font-family: 'Font';
    src: url("https://cdn.mcfywb.top/mcfywb-top-font/font.woff2") format("woff2");
}
*, *::before, *::after {
  cursor: url('../cursor/default.png'), auto !important;
}
a, a *, button, button *, [onclick], [role="button"],
label, summary, i, span, img, time {
  cursor: url('../cursor/pointer.png'), pointer !important;
}
input, textarea, [contenteditable="true"] {
  cursor: url('../cursor/text.png'), text !important;
}